[user]
  signingkey = 2B6DC036CF69A553
[color]
	ui = true
[push]
	default = current
[branch]
	autosetuprebase = always
[rerere]
	enabled = 1
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[include]
  path = ~/.gitconfig.local
[commit]
  gpgsign = true
