alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias l="ls -la"
alias ll="ls -l"
alias la="ls -la"

alias cdp="goto_project_dir"

alias gs="git status"
alias ga="git add -A"
alias gb="git branch"
alias gp="git pull --rebase"
alias co="git checkout"
alias undo_commit="git reset --soft HEAD~"
alias clean_branches="git remote prune origin; git branch --merged | grep -v '\*' | grep -v dev | xargs -n 1 git branch -d"

alias nginx.start="sudo nginx"
alias nginx.stop="sudo nginx -s quit"
alias nginx.restart="sudo nginx -s reload"
alias nginx.test="sudo nginx -t"

alias php-fpm.start="sudo /usr/local/sbin/php-fpm"
alias php-fpm.stop="php_fpm_stop"
alias php-fpm.restart="php-fpm.stop; php-fpm.start"

# favor using bundle exec
bundle_commands="irb rake pry spec rspec puma rails rackup guard"
for cmd in $bundle_commands
  do alias $cmd="run_bundler_cmd $cmd"
done
unset cmd bundle_commands

# toggle hidden files
alias show_hidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide_hidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# view http traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# hide/show desktop icons
alias hide_desktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias show_desktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
