alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias l="ls -la"
alias ll="ls -l"
alias la="ls -la"

alias gs="git status"
alias ga="git add -A"
alias gb="git branch"
alias gp="git pull --rebase"
alias co="git checkout"
alias clean_git_branches="git remote prune origin; git branch --merged | grep -v '\*' | grep -v dev | xargs -n 1 git branch -d"

alias s="subl"

# stop typing "bundle exec"
run_bundler_cmd () {
  if [ -e ./Gemfile ]; then
    echo "bundle exec $@"
    bundle exec $@
  else
    $@
  fi
}

bundle_commands="irb rake pry spec rspec puma rails rackup guard"
for cmd in $bundle_commands
  do alias $cmd="run_bundler_cmd $cmd"
done

# switch projects faster
if [ -d "$HOME/Projects" ]; then
  PROJECTS="$HOME/Projects"
elif [ -d "$HOME/source" ]; then
  PROJECTS="$HOME/source"
fi

cd_project_dir() {
  cd $PROJECTS/$1
}

alias cdp="cd_project_dir"

# toggle hidden files
alias show_hidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide_hidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# view http traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# hide/show desktop icons
alias hide_desktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias show_desktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# cleanup
unset bundle_commands
