php_fpm_stop () {
  if [ -e /usr/local/var/run/php-fpm.pid ]; then
    sudo kill `cat /usr/local/var/run/php-fpm.pid`
  fi
}

run_bundler_cmd () {
  if [ -e ./Gemfile ]; then
    echo "bundle exec $@"
    bundle exec $@
  else
    $@
  fi
}

goto_projects_dir () {
  if [ -d $HOME/Projects ]; then
    cd $HOME/Projects/$1
  elif [ -d $HOME/source ]; then
    cd $HOME/source/$1
  else
    echo "Unable to find a project directory."
  fi
}
