# Make tab completion case-insensitive
set completion-ignore-case on

# Use already typed text as filter for searching through previous
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward
